<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970098471354-f21cqraol774t5v1ndngacifgse1uqjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970098471354-f21cqraol774t5v1ndngacifgse1uqjg</string>
	<key>API_KEY</key>
	<string>AIzaSyDY6Sj5EFbiTe3mJL7lQ_F5Y1-0JKZr3mM</string>
	<key>GCM_SENDER_ID</key>
	<string>970098471354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashishks777.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-aks777</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-aks777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970098471354:ios:1098647082a4e0bc4a2d83</string>
</dict>
</plist>